<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidwargame"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:theme="@style/Theme.Sherlock.Light.NoActionBar"
            android:name="com.example.androidwargame.WelcomeScreen"
            android:label="welcome screen" >
            <!-- Intent-filter ensures this activity is the default application screen -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:theme="@style/Theme.Sherlock.Light"
            android:name="com.example.androidwargame.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.android.androidwargame.WelcomeScreen" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.android.androidwargame.WelcomeScreen" />
        </activity>
        
        
        
    </application>

</manifest>
